
body, html {
    background-color: #303030;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: flex;
    justify-content: center;
}
div {
    font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 60px;
    color: #f0f0f0;
    max-width: 100%;
}
h1 {
	font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    color: #f0f0f0;
    font-size: 60px;
    text-align: left;
    padding-left: 20px;
}
h2 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    color: #f0f0f0;
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    bottom: 20px;
}
h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    color: #f0f0f0;
    font-size: 20px;
    padding-left: 20px;
}
p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    color: #f0f0f0;
    font-size: 18px;
    padding-left: 10px;
    max-width: 600px;
}
a {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    color: #f0f0f0;
    font-size: 18px;
    padding-left: 30px;
    position: relative;
    bottom: 20px;
}
hr {
    max-width: 100%;
}
.photo {
    -webkit-filter: invert(1);
    filter: invert(1);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.align {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    color: #f0f0f0;
    font-size: 18px;
    padding-left: 30px;
    line-height: 0.50;
}
.palign {
    padding-left: 10px;
}
#homepic {
    position: relative;
    bottom: -15px;
    margin-bottom: 50px;
}
#RSS {
    max-width: 600px;
}



/*Main buttons in header*/


.pagelink{
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    font-size: 17px;
    width: 25%;
}
.pagelink:hover{
    background-color: #5e5e5e;
} 
.pagecontent {
    color: white;
    display: none;
    height: 100%;
}

#Home {background-color: #303030;}
#Products {background-color: #303030;}
#Location {background-color: #303030;}
#News {background-color: #303030;}
#GuestBook {background-color: #303030;}

button {
    background-color:transparent;
    border-color: transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
    padding: 0px 15px 5px 15px;
	text-decoration:none;
	text-shadow:2px 3px 5px #000000;
}
button:hover {
    background-color:transparent;
    text-shadow:2px 3px 5px #ffffff;
    border-color: transparent;
}
button:active {
	position:relative;
    top:1px;
    border-color: transparent;
}

/*Page layout*/

/*Header*/


.gridbox {
    display: grid;
    grid-template-areas:
    'image title title title'
    'image title title title'
    'buttons buttons buttons buttons'
    'content content content content';
    position: absolute;
    max-width: 100%;
}
.gridbox > div {
    text-align: left;
}
.item1 {
    grid-area: image;
    width: 20%;
    object-fit: contain;
}
.item2 {
    grid-area: title;
    padding-top: 5px;
    padding-left: 10px;
    width: 25%;
}
.item3 {
    grid-area: buttons;
    text-align: left;
    white-space: nowrap;
}
.item4 {
    grid-area: content;
    width: 100%;
}

/*Guestbook*/

.cgridbox {
    display: grid;
    grid-template-areas:
    'leave leave leave'
    'comment comment comment'
    'name name button'
    'hr hr hr'
    'prev prev prev'
    'comments comments comments';
    position: absolute;
    padding-left: 30px;
}
.gridbox > div {
    text-align: left;
}
.citem1 {
    grid-area: leave;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    color: #f0f0f0;
    font-size: 20px;
    height: 30px;
    position: relative;
    bottom: 30px;
}
.citem2 {
    grid-area: comment;
    padding-top: 5px;
    max-width: 100%;
}
.citem3 {
    grid-area: name;
    height: 30px;
    position: relative;
    bottom: 20px;
}
.citem4 {
    grid-area: button;
    height: 30px;
    background-color:transparent;
    border-color: transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	text-decoration:none;
    text-shadow:2px 3px 5px #000000;
    position: relative;
    bottom: 15px;
    right: 10px;
}
.citem41 {
    grid-area: hr;
    width: 580px;
}
.citem42 {
    grid-area: prev;
    height: 30px;
    padding-left: 0px;
}
.citem5 {
    grid-area: comments;
}

/*Shop Item*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
}
  
.flex-container > div {
    background-color: #858585;
    justify-content: space-between;
    width: 250px;
    height: 420px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.small {
    font-size: 14px;
}
.bound {
    width: 250px;
    height: 200px;
    overflow: hidden;
    object-fit: contain;
    background-color: white;
}
#productTitle {
    height: 50px;
    width: 260px;
    padding-left: 0px;
    padding-right: 20px;
    text-align: center;
}
#buybutton {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    color: #f0f0f0;
    font-size: 20px;
    background-color: black;
    width: 290px;
    height: 40px;
    display: block;
    justify-content: center;
    padding: 0px;
    position: relative;
    right: 20px;
    bottom: 15px;
}
#search {
    position: relative;
    bottom: 20px;
    background-color: #858585;
    height: 40px;
    max-width: 1000px;
}
::placeholder {
    color: black;
}